@font-face {
  font-family: "Muli";
  src: url(../fonts/Muli-Light.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Muli Italic";
  src: url(../fonts/Muli-Italic.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Anglecia";
  src: url(../fonts/AngleciaProDisplay-Regular.otf);
  font-weight: 700;
}

@font-face {
  font-family: "Anglecia Italic";
  src: url(../fonts/AngleciaProDisplay-Italic.otf);
  font-weight: 700;
}